footer.footer
  .container
    .footer__iner
      .footer__contacts
        .footer__logo.logo
          a.logo-link(href="#")
            img.logo-img(src="assets/imgs/logo.png", alt="картинка")
        a.footer__logo-link.link-name(href="#")  www.company name.com
        a.footer__logo-link.link-email(href="#")  companyname@gmail.com
        a.footer__logo-link.link-tel(href="tel:+74851180325") Phone: +7 485-118-03-25

      .footer-menu.footer-home
        h4.footer-menu__title Home
        ul.footer-menu__list
          li.footer-menu__list-item
            a.footer-menu__list-link.menu-link(href="#") Landingpage
          li.footer-menu__list-item
            a.footer-menu__list-link.menu-link(href="#") Documentation
          li.footer-menu__list-item
            a.footer-menu__list-link.menu-link(href="#") Referral Program
          li.footer-menu__list-item
            a.footer-menu__list-link.menu-link(href="#") Referral Program
          li.footer-menu__list-item
            a.footer-menu__list-link.menu-link(href="#") Web Design

      .footer-menu
        h4.footer-menu__title Menu
        ul.footer-menu__list
          li.footer-menu__list-item
            a.footer-menu__list-link.menu-link(href="#") Landingpage
          li.footer-menu__list-item
            a.footer-menu__list-link.menu-link(href="#") Documentation
          li.footer-menu__list-item
            a.footer-menu__list-link.menu-link(href="#") Referral Program
          li.footer-menu__list-item
            a.footer-menu__list-link.menu-link(href="#") UI & UX Design
          li.footer-menu__list-item
            a.footer-menu__list-link.menu-link(href="#") Web Design

      .footer-menu.footer-company
        h4.footer-menu__title Company
        ul.footer-menu__list
          li.footer-menu__list-item
            a.footer-menu__list-link.menu-link(href="#") Landingpage
          li.footer-menu__list-item
            a.footer-menu__list-link.menu-link(href="#") Documentation
          li.footer-menu__list-item
            a.footer-menu__list-link.menu-link(href="#") Referral Program
          .footer__social
            .footer__social-item
              a.footer__social-link
               img.footer__social-img(src="assets/imgs/instagram.svg", alt="instagram")
            .footer__social-item
              a.footer__social-link
               img.footer__social-img(src="assets/imgs/facebook.svg", alt="facebook")
            .footer__social-item
              a.footer__social-link
               img.footer__social-img.twitter(src="assets/imgs/twitter.svg", alt="twitter")
            .footer__social-item
              a.footer__social-link
               img.footer__social-img(src="assets/imgs/youtub.svg", alt="youtub")





