include ../mixins/item_footer
footer.footer
  .container
    .footer__top
      .footer__contacts
        .footer__contacts-logo.logo
          a(href="#").logo-link Furniking
        p.footer__contacts-text Funking is the a popular Ecommerce site. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        .footer__social
          .footer__social-item
            a.footer__social-link
            img.footer__social-img(src="assets/imgs/facebook.svg", alt="facebook")
          .footer__social-item
            a.footer__social-link
            img.footer__social-img.twitter(src="assets/imgs/twitter.svg", alt="twitter")
          .footer__social-item
            a.footer__social-link
            img.footer__social-img(src="assets/imgs/instagram.svg", alt="instagram")
          .footer__social-item
            a.footer__social-link
            img.footer__social-img(src="assets/imgs/pinterset.svg", alt="youtub")
      +item_footer("Help","Privacy Policy","Shipping & Delivery","Refund Policy","Track Your  Order")
      +item_footer("Store","Furniture","Tabble","Sofa","Other")
      +item_footer("Supports","Feedbcak","Contact us","Download app","Terms conditins")
  .footer__bottom
    .container
      .footer__bootom-iner
        p.footer__bottom-copirate © 2021 Funking - All rights reserved.
        ul.footer__bottom-list
          li.footer__bottom-item
            a.footer__bottom-link Privacy
          li.footer__bottom-item
            a.footer__bottom-link Security
          li.footer__bottom-item
            a.footer__bottom-link Terms






