header.header
      .header__top
         .container
            .header__top-iner
               .header__top-left
                  p Welcome to our online shop
               .header__top-right
                  .header__top-right_lang
                     a(href="#")  English (USD)
                        img(src="", alt="картинка")
                  .header__top-right_login
                     a(href="#")  Login or Sign up
      .header__midle
         .container
            .header__midle-iner
               .header__midle-logo.logo
                  a(href="#").logo-link Furniking
               //- пересмотреть форму поиска
               .header__midle-search
                  form(action="#").header-form.form
                     input(type="search").form-search
                     select#select(name="header").form-select
                        option(value="Categories" selected) Categories
                        option(value="item_2") item_2
                        option(value="item_3") item_3
                        option(value="item_4") item_4
                     input(type="button").form-btn

               .header__midle-cabinet.cabinet
                  a.cabinet__link(href="#")
                     img.cabinet__img(src="", alt="картинка")
                  a.cabinet__link(href="#")
                     img.cabinet__img(src="", alt="картинка")
                  a.cabinet__link(href="#")
                     img.cabinet__img(src="", alt="картинка")

      .header__bottom
         .container
            .header__bottom-iner
               .name__collection
                  p.name-text aLL COLlECtIOnS
               nav.header__nav.nav
                  ul.nav-list
                     li.nav-item
                        a(href="#").nav-link HoME
                     li.nav-item
                        a(href="#").nav-link SHOp
                     li.nav-item
                        a(href="#").nav-link BLOg
                     li.nav-item
                        a(href="#").nav-link ABOUt
                     li.nav-item
                        a(href="#").nav-link CONTACT Us






