include ../mixins/item_trending
section.trending.ourproducts
  .container
    .section__title-box.trending__title
      h2.section__title OUr PRODuCTS
      nav.section__menu
        ul.section__list
          li.section__item
            a.section__link All Products
          li.section__item
            a.section__link Best Sellers
          li.section__item
            a.section__link New Arrivals
          li.section__item
            a.section__link Todays Deals
    .trending__wrapper.ourproducts
      +item_trending("/assets/imgs/ourproduct-1.jpg","sale","Chair","Minimal LCD chair","$180","$250","5")(class="span-green")
      +item_trending("/assets/imgs/ourproduct-2.jpg","new","Sofa","Modern Sofa","$120","$150","4")
      +item_trending("/assets/imgs/ourproduct-3.jpg","-30%","Sofa","Microfiber Sofa","$130","$150","4")(class="span-red")
      +item_trending("/assets/imgs/ourproduct-4.jpg","sale","tabble","Wood Coffee Tables","$100","$120","5")(class="span-green")
      +item_trending("/assets/imgs/ourproduct-5.jpg","-30%","Chair","Acacia Wood Club Chairs","$100","$120","0")(class="span-red")
      +item_trending("/assets/imgs/ourproduct-6.jpg","sale","Bench","Amalia Cowhide Bench","$130","$150","4")(class="span-green")
      +item_trending("/assets/imgs/ourproduct-7.jpg","new","Storage","Juno-Hinged Lid Storage","$180","$250","5")
      +item_trending("/assets/imgs/ourproduct-8.jpg","new","Furniture","Delicia 3 Piece Living Room","$120","$150","4")
    .ourproducts__page-box.page__box
      a.page__box-btn  Next page
      .page__box-number.number
        form.number-form(action="#")
          label.number-text(for="") Page
          input.number-input(type="text" value="1" id="number")
          label.number-text(for="") of 100
          .number-btn__box
            button.mumber-btn
              img.number-img
            button.mumber-btn
              img.number-img








