include ../mixins/item_trending
section.trending
  .container
    .section__title-box.trending__title
      h2.section__title TREnDInG
      nav.section__menu
        ul.section__list
          li.section__item
            a.section__link Top Products
          li.section__item
            a.section__link New Arrivals
          li.section__item
            a.section__link Best Sellers
    .trending__wrapper
      +item_trending("/assets/imgs/trending-1.jpg","new","Chair","Minimal LCD chair","$180","$250","5")
      +item_trending("/assets/imgs/trending-2.jpg","new","Chair","Minimal iconic chair","$120","$150","4")
      +item_trending("/assets/imgs/trending-3.jpg","sale","Chair","Dining chairs","$100","$120","5")(class="span-green")
      +item_trending("/assets/imgs/trending-4.jpg","sale","Chair","Buskbo armchair ","$130","$150","4")(class="span-green")
      +item_trending("/assets/imgs/trending-5.jpg","sale","Chair","Buskbo armchair ","$130","$150","4")(class="span-green")
      +item_trending("/assets/imgs/trending-6.jpg","sale","Chair","Buskbo armchair ","$130","$150","4")(class="span-green")
      +item_trending("/assets/imgs/trending-7.jpg","new","Chair","Buskbo armchair ","$130","$150","4")
      +item_trending("/assets/imgs/trending-8.jpg","new","Chair","Buskbo armchair ","$130","$150","4")



