include ../mixins/item
section.feature
  .container
    .feature__iner
      +item("assets/imgs/delivery-1.svg","Free Shipping","Orders over $100")
      +item("assets/imgs/delivery-2.svg","Smart Gift Card","Buy $1000 to get card")
      +item("assets/imgs/delivery-3.svg","Quick Payment","100% secure payment")
      +item("assets/imgs/delivery-4.svg","24/7 Support","Quick support")


