section.hero
  .container
    .hero__iner
      .hero__iner-left
        .hero__menu-box
          menu.hero__menu
            ul.hero__list
              li.hero__list-item
                a.hero__list-link All
              li.hero__list-item
                a.hero__list-link New Arrivals
              li.hero__list-item
                a.hero__list-link Hot Sale
              li.hero__list-item
                a.hero__list-link Furniture
              li.hero__list-item
                a.hero__list-link Amrature
              li.hero__list-item
                a.hero__list-link Tabble
              li.hero__list-item
                a.hero__list-link Chair
              li.hero__list-item
                a.hero__list-link Sofa
              li.hero__list-item
                a.hero__list-link Mirrors
              li.hero__list-item
                a.hero__list-link Stools
              li.hero__list-item
                a.hero__list-link Benches

      .hero__iner-right
        .swiper
          .swiper-wrapper
            .swiper-slide
              .slide__item
                .slide__item-title
                  span.slide-span ToP COlLECTIoNS 2022
                  h1.slide-title We Serve Your Dream Furniture
                  p.slide-text Get 50% off all products
                  a.slide-btn ShOP NOw
                .slide__item-img
                  img(src="/assets/imgs/Furnited-h1.png", alt="").slide-h1_img
                .slide__item-cards.cards__item
                  .cards__item
                    img(src="/assets/imgs/Frame-1.png", alt="картинка").cards__item-img
                    .cards__item-price_box
                      p.cards-price $
                      p.cards-price 120
                    p.cards__item-text Office Desk Chair
                  .cards__item
                    img(src="/assets/imgs/Frame-2.png", alt="картинка").cards__item-img
                    .cards__item-price_box
                      p.cards-price $
                      p.cards-price 120
                    p.cards__item-text Office Desk Chair
                  .cards__item
                    img(src="/assets/imgs/Frame-3.png", alt="картинка").cards__item-img
                    .cards__item-price_box
                      p.cards-price $
                      p.cards-price 120
                    p.cards__item-text Office Desk Chair








//- <div class="swiper">
//-   <!-- Additional required wrapper -->
//-   <div class="swiper-wrapper">
//-     <!-- Slides -->
//-     <div class="swiper-slide">Slide 1</div>
//-     <div class="swiper-slide">Slide 2</div>
//-     <div class="swiper-slide">Slide 3</div>
//-     ...
//-   </div>
//-   <!-- If we need pagination -->
//-   <div class="swiper-pagination"></div>

//-   <!-- If we need navigation buttons -->
//-   <div class="swiper-button-prev"></div>
//-   <div class="swiper-button-next"></div>

//-   <!-- If we need scrollbar -->
//-   <div class="swiper-scrollbar"></div>
//- </div>