include ../mixins/item
section.passion
  .container
    .title__box
      span.span__bg Features
      h2.title__bg Food with a New Passion
    .benefits
      +item("assets/imgs/home.svg","Quality Food","It can be a very secure path to earn good money and make you very successful creative entrepreneur.")
      +item("assets/imgs/moto.svg","Food Delivery","It can be a very secure path to earn good money and make you very successful creative entrepreneur.")(class="moto")
      +item("assets/imgs/sun.svg","Super Taste","It can be a very secure path to earn good money and make you very successful creative entrepreneur.")(class="sun")






