include ../mixins/item_special
section.special
  .container
    .section__title-box.special__title
      h2.section__title SPEcIAL OFfER
    .special__iner
      +item_special("Living Room Furniture","You don't have a chair. Are you ready for growth? Shop with us 40% discount!","$150","$250","shop now","10","DayS","15","HRS","30","MiN","22","SecS")
      +item_special("Modern chair","Hot chairs of the modern era are now available in our stock.","$75","$150","shop now","15","DayS","08","HRS","20","MiN","12","SecS")(class="special__item-2")
