section.testimonials
  .container
    .section__title-box.testimonials__title
      h2.section__title What Our Customer Says
    .testimonials__wrapper
      .swiper
        .swiper-wrapper
          .swipper-slide
            .slide__item-testimonials
              img.testimonials-img(src="assets/imgs/object-slide.png", alt="картинка")
              p.testimonials-text I like Furniking.com and as compared to other company it's polices and customers support is very good easy to reach., also many time they unable to delivered. The ultricies are pregnant while the quis is suspended. Risus commodo viverra maecenas accumsan lacus vel facilisist amet.
              .testimonials__name-box
                p.testimonials-name Angelina Joly
                p.testimonials-position Co-founder
          //- .swipper-slide
          //-   .slide__item-testimonials
          //-     img.testimonials-img(src="assets/imgs/object-slide.png", alt="картинка")
          //-     p.testimonials-text I like Furniking.com and as compared to other company it's polices and customers support is very good easy to reach., also many time they unable to delivered. The ultricies are pregnant while the quis is suspended. Risus commodo viverra maecenas accumsan lacus vel facilisist amet.
          //-     .testimonials__name-box
          //-       p.testimonials-name Angelina Joly
          //-       p.testimonials-position Co-founder

          .swiper-button-prev
          .swiper-button-next

          .swiper-scrollbar


