section.description
  .container
    .description__iner
      .description__iner-left
        h1.description-title  Making time a good time by making food the good food.
        p.description-subtitle There are many things are needed to start the Fast Food Business. You need not only Just Food Stalls with Persons but also specialized equipment,
        .description-box__btn
          a.description__btn-left Order Now
          a.description__btn-right Food Details
      .description__iner-right
        img.description__img(src="assets/imgs/BG-h1.png", alt="")