include ../mixins/item_menu
section.menupos
  .container
    .title__box
      span.span__bg Menu
      h2.title__bg Food Full of treaty Love
    .menupos__description There are many things are needed to start the Fast Food Business. You need not only Just Food Stalls with Persons but also specialized equipment, Skills to manage Customers.
    .menupos__iner
      +item_menu("assets/imgs/food-1.jpg","Vegie Muffen","16$","There are many things are needed to start the Fast Food Business.","4")
      +item_menu("assets/imgs/food-2.jpg","Salads","12$","There are many things are needed to start the Fast Food Business.","5")
      +item_menu("assets/imgs/food-3.jpg","Burger","10$","There are many things are needed to start the Fast Food Business.","3")
      +item_menu("assets/imgs/food-4.jpg","Delmonico Steak dish","14$","There are many things are needed to start the Fast Food Business.","2")
      +item_menu("assets/imgs/food-5.jpg","Egg Masala","9$","There are many things are needed to start the Fast Food Business.","4")
      +item_menu("assets/imgs/food-6.jpg","Peach Melba dish","15$","There are many things are needed to start the Fast Food Business.","3")
    .menupos__btn-box
      a.menupos__btn.description__btn-right Learn More

