include ../mixins/item_offer
section.offer
  .container
    .offer__iner
      .offer__iner-left
        +item_offer("Modern Furniture Collections","Starting from $500","Read more")
      .offer__iner-right
          +item_offer("Geometric Bookcase","Up to 20% discount","Read more")(class="offer__item-2")
          +item_offer("Minimal Sofa collections ","Sale upto 40% discount","Read more")(class="offer__item-3")


















