extends laout/laout

block main
  main.main
    //- Section description........
    include ./components/sec__description

    //- Section passion..........
    include ./components/sec__passion

    //- Section menu..........
    include ./components/sec__menupos























