extends laout/laout

block main
  main.main
    //- Section ........
    include ./components/sec__hero
    include ./components/sec__feature
    include ./components/sec__offer
    include ./components/sec__trending
    include ./components/sec__special
























