@import "../main/vars";

// Header.................................
.header {
  &__top {
    background:$primerycolor-green;
    padding: 16px 0px 15px;
    &-iner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header__top-left {
        p {
          color:$primerycolor-white ;
          line-height: 19px;
          font-size: 16px;
        }
      }
      .header__top-right {
        display: flex;
        align-items: center;
        a {
          color:$primerycolor-white ;
          line-height: 19px;
          font-size: 16px;
        }
        .header__top-right_lang {
          img {
            margin-left: 7px;
            margin-bottom: 1px;
          }
        }
        .header__top-right_login {
          display: flex;
          align-items: center;
        }
        .header__top-right_login::before {
          content: '';
          display: inline-block;
          width: 2.2px;
          height: 19px;
          background: $primerycolor-white;
          border-radius: 0.4px;
          margin-right: 20px;
          margin-left: 20px;


        }



      }
    }
  }
  &__midle {
    background:$primerycolor-white;
  }
  &__bottom {
    background: $primerycolor-header-bottom;
  }

}