@import "../main/vars";
.special {
  .special__iner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .special__item {
    padding: 29px 30px 29px 24px;
    font-family: Mulish;
    font-style: normal;
    .special__title {
      font-weight: 600;
      font-size: 22px;
      line-height: 28px;
      color: $primerycolor-black;
      margin-bottom: 11px;
    }
    .special-subtitle {
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 20px;
      color: #757575;
    }
    .special__price-box {
      display: flex;
      align-items: center;
      margin-bottom: 29px;
    }
    .special__price-btn{
      font-size: 12px;
      line-height: 15px;
      padding: 7px 10px;
    }
  }

}
