@import "../main/vars.scss";


body {
    font-family:$primery-font-rubik;
    font-size: 14px;
    font-weight: 400;
    color: $primerycolor-black;
    background-color: $primerycolor-white;
  }

  .container {
    width: 100%;
    max-width: 1170px;
    padding: 0px 15px;
    margin: 0 auto;
  }

  // .btn {

  // }
