// цвета основные
$primerycolor-orange: #dc780b;
$primery-orange_hover:#dc580b;
$primerycolor-white: #fff;
$primerycolor-black: #150c01;
// /цвет фона футера
$primerycolor-footer_bg: #252525;


// ...........................................
// основной шрифт
$primery-font:"Roboto", sans-serif;
//дполнительный шрифт
$secondary-font: 'Philosopher',sans-serif;

