// цвета основные
$primerycolor-green: #7AC751;
$primerycolor-white: #fff;
$primerycolor-gra-h3: #C2C2C2;
$primerycolor-black: #555555;
$primerycolor-bg: #2F2F2F;

// ...........................................
//  шрифт
$primery-font-rubik:'Rubik', sans-serif;
$primery-font-mulish:'Mulish', sans-serif;
$primery-font-DmSans:'DM Sans', sans-serif;





